@import '../_base/_mixin.scss';
@import '../_base/_paginate.scss';
@import '../_base/_css_content.scss';

.page {
	&-content {
		width: 100%;
		flex-wrap: wrap;
		&__left {
			flex: 0 0 266px;
			margin-right: 40px;
		}
		&__right {
			flex: 0 0 calc(100% - 306px);
			h1 {
				color: #1C2E3D;
			}
			.css-content {
				p {
					color: #434343;
					font-size: 16px;
					line-height: 24px;
				}
				text-align: justify;
			}
		}
	}
}
.sidebar {
	width: 100%;
	&-content {
		&__title {
			background: #DE0200;
			display: flex;
			align-items: center;
			padding: 10px 16px;
		}
		&__list {
			padding: 6px 23px 34px 17px;
			border: 0.5px solid #D6D8DB;
			background: #fff;
			.menu-item {
				padding: 6px 0;
				border-bottom: 0.5px solid #D6D8DB;
				&:last-child {
					border-bottom: none;
				}
				a {
					color: #1C2E3D;
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 16px;
					line-height: 19px;
				}
				&.active {
					a {
						color: #DE0200;
						font-weight: bold;
						svg {
							path {
								fill: #DE0200;
								stroke: #DE0200;
							}
						}
					}
				}
			}
		}
	}
}
// system
.system {
	width: 100%;
	&-content {
		width: 100%;
		&__banner {
			line-height: 0;
		}
		h1 {
			color: #1C2E3D;
		}
		&__form {
			.top {
				padding: 32px 38px;
				background: #1C2E3D;
				border-radius: 25px 25px 0 0;	
				&-content {
					align-items: center;
					width: 100%;
					height: 100%;
					&__left {
						width: 45%;
						.area {
                            cursor: pointer;
							font-size: 16px;
							line-height: 24px;
							color: #1C2E3D;
							background: #FFFFFF;
							border: 1px solid #1C2E3D;
							border-radius: 4px;
							padding: 7px 15px;
							text-align: center;
							width: calc((100% - 40px)/3);
							margin-right: 20px;
							&:nth-child(3) {
								margin-right: 0;
							}
							&.active {
								background: #DE0200;
								color: #fff;
							}
						}
					}
					&__right {
						width: 55%;
						display: flex;
						justify-content: flex-end;
						flex-wrap: wrap;
						input, button {
							font-family: 'SFProDisplay';
							border-radius: 4px;
							font-size: 16px;
							line-height: 24px;
							border: none;
							height: 35px;
						}
						input {
							background: #FFFFFF;
							border: 1px solid #1C2E3D;
							padding: 5px 13px;
							color: #737373;
							max-width: 344px;
						}
						button {
							background: #DE0200;
							padding: 5px 36px;
							cursor: pointer;
						}
					}
				}
			}
			.list {
				flex: 0 0 100%;
				flex-wrap: wrap;
				margin-bottom: 51px;
				&-item {
					flex: 0 0 calc((100% - 48px)/3);
					background: #FFFFFF;
					border: 1px solid #D6D8DB;
					border-radius: 8px;
					margin-right: 24px;
					margin-top: 35px;
					&:nth-child(3n) {
						margin-right: 0;
					}
					&:nth-child(1), &:nth-child(2), &:nth-child(3) {
						border-radius: 0px 0px 8px 8px;
						margin-top: 0;
					}
					&__image {
						position: relative;
                        a {
                            display: block;
                            line-height: 0;
                            img {
                                height: 290px;
                            }
                        }
						.gallery {
							position: absolute;
							width: 100%;
							padding: 0 17px;
							bottom: 8px;
							display: flex;
                            overflow-x: auto;
                            overflow-y: hidden;
                            @include scroll_bar();
							&_item {
								flex: 0 0 calc((100% - 40px)/6);
                                max-width: calc((100% - 40px)/6);
								margin-right: 8px;
                                cursor: pointer;
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                                border: 2px solid #fff;
								&:nth-child(6n) {
									margin-right: 0;
								}
								img {
									width: 100%;
									height: 100%;
                                    object-fit: cover;
								}
							}
						}
					}
					&__info {
						padding: 18px 28px 31px;
						h3, a, p, span {
							color: #1C2E3D;
						}
						p {
							display: flex;
                            align-items: flex-start;
                            justify-content: center;
							svg {
								max-width: 18px;
                                height: 16px;
							}
							span {
								flex: 0 0 calc(100% - 24px);
							}
						}
						.see_more {
							color: #DE0200;
							text-decoration-line: underline;
                            display: inline-block;
						}
					}
				}
			}
		}
	}
}
.shop {
	margin-bottom: 111px;
	&_top {
		background: #F8F9FB;
		padding-top: 51px;
		padding-bottom: 63px;
	}
	&-info {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
        background: #fff;
		&__image {
			flex: 0 0 58%;
			max-width: 58%;
			img {
				width: 100%;
				height: 100%;
                max-height: 515px;
                height: 100%;
			}
		}
		&__right {
			flex: 0 0 42%;
			max-width: 42%;
			.map {
				.google-map {
					iframe {
						width: 100%;
						height: 376px;
					}
				}
			}
			.direct {
				width: 100%;
				text-align: center;
				a {
					text-decoration-line: underline;
					color: #DE0200;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					img {
						margin-right: 10px;
					}
				}
			}
			.gallery {
				padding: 0 24px;
				position: relative;
				&-list {
                    position: relative;
                    .slick-slide {
                        img {
                            padding: 5px;
                            height: 80px;
                            object-fit: cover;
                        }
                    }
				}
                .slick-nav {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    .slick-prev, .slick-next {
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        cursor: pointer;
                        transform: translateY(-50%);
                    }
                    .slick-prev {
                        left: -15px;
                    }
                    .slick-next {
                        right: 35px;
                    }
                }
			}
		}
	}
	&_bottom {
		padding-top: 49px;
		&__content {
			.contents {
				flex: 0 0 60%;
				max-width: 60%;
                &_icon {
                    background: #DE0200;
                    color: #fff;
                    text-align: center;
                    width: 150px;
                    height: 36px;
                    border-top-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 16px;
                    text-transform: uppercase;
                    line-height: 36px;
                }
				h1, span {
					color: #1C2E3D;
				}
				ul {
					margin-top: 23px;
					li {
						display: flex;
						align-items: center;
						&:not(:last-child) {
							margin-bottom: 16px;
						}
					}
				}
				&_desc {
					h2 {
						font-size: 16px;
						line-height: 22px;
						font-weight: 700;
						margin-bottom: 19px;
						color: #000001;
					}
					p {
						font-size: 16px;
						line-height: 24px;
						text-align: justify;
						color: #4c4c4c;
					}
					img {
						margin-top: 24px;
						margin-bottom: 39px;
					}
				}
			}
			.right {
				flex: 0 0 calc(40% - 47px);
				max-width: calc(40% - 47px);
				margin-left: 47px;
				.feature-product {
					&__title {
						h2 {
							color: #1C2E3D;
						}
					}
					&__list {
						flex: 0 0 100%;
						.product_item {
							flex: 0 0 calc((100% - 15px)/2);
                            max-width: calc((100% - 15px)/2);
							margin-right: 15px;
							&:nth-child(2n) {
								margin-right: 0;
							}
							padding: 14px;
							margin-bottom: 18px;
							background: #F7F7F7;
							border-radius: 8px;
							&__image {
								a {
									display: flex;
                                    justify-content: center;
									img {
										max-width: 152px;
										min-height: 152px;
									}
								}
							}
							&__content {
								margin-top: 10px !important;
                                padding: 0;
								.price {
									margin-top: 7px;
									span, &__old {
										width: 100%;
									}
									&__old {
										margin-top: 1px;
										letter-spacing: -0.5px;
										text-decoration-line: line-through;
									}
								}
                                .installment_icon_number {
                                    flex: 0 0 23px;
                                }
							}
                            .vote_compare {
                                display: none;
                            }
						}
					}
				}
				.recent_store {
					width: 100%;
					&__list {
						flex: 0 0 100%;
						flex-wrap: wrap;
					}
					.list_store {
						&__item {
							flex: 0 0 calc((100% - 15px)/2);
							margin-bottom: 20px;
							margin-right: 15px;
							&:nth-child(2n) {
								margin-right: 0;
							}
							background: #FFFFFF;
							border: 1px solid #D6D8DB;
							border-radius: 0px 0px 8px 8px;
							.image {
								width: 100%;
								height: 100%;
								img {
									width: 100%;
								}
							}
							h3 {
								padding: 10px 13px 17px;
								a {
									color: #1C2E3D;
								}
							}
						}
					}
				}
			}
		}
	}
}
@include mq(lg, max) {
	.page {
		margin-bottom: 50px !important;
		&-content {
			&__left {
				margin-right: 25px;
			}
			&__right {
				h1 {
					font-size: 30px !important;
					line-height: 40px !important;
				}
				.css-content {
					margin-top: 15px !important;
				}
			}
		}
	}
	.shop {
		margin-bottom: 50px;
		&_top {
			padding-bottom: 30px;
		}
		&-info {
			&__image, &__right {
				flex: 0 0 100%;
				max-width: 100%;
			}
			&__image {
				margin-bottom: 20px;
			}
		}
		&_bottom {
			&__content {
				.contents, .right {
					flex: 0 0 100%;
					max-width: 100%;
				}
				.contents {
					&_desc {
						margin-top: 20px !important;
					}
				}
				.right {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}
	.system {
		&-content {
			h1 {
				font-size: 30px !important;
				line-height: 40px !important;
				margin-top: 25px !important;
			}
			&__form {
				margin-top: 25px !important;
				.top {
					&-content {
						&__left, &__right {
							width: 100%;
							justify-content: center;
						}
						&__left {
							margin-bottom: 15px;
							display: flex;
							flex-wrap: wrap;
						}
						&__right {
							button {
								width: calc(100% - 355px);
							}
						}
					}
				}
				.list {
					&-item {
						flex: 0 0 calc((100% - 24px)/2);
						&:nth-child(3n) {
							margin-right: 24px;
						}
						&:nth-child(2n) {
							margin-right: 0;
						}
						&:nth-child(3) {
							border-radius: 8px;
							margin-top: 35px;
						}
					}
				}
			}
		}
	}
}
@include mq(sm, max) {
	.page {
		&-content {
			&__left {
				flex: 0 0 100%;
			}
			&__right {
				flex: 0 0 100%;
				margin-top: 30px;
				h1 {
					font-size: 30px !important;
					line-height: 40px !important;
				}
				.css-content {
					margin-top: 15px !important;
				}
			}
		}
	}
	.shop {
		&_top {
			padding: 25px 0;
		}
		&_bottom {
			padding-top: 30px;
			&__content {
				.contents {
					h1 {
						font-size: 26px !important;
						line-height: 30px !important;
					}
				}
				.right {
					.feature-product {
						&__list {
							.product-item {
								flex: 0 0 100%;
								margin-right: 0;
							}
						}
					}
					.recent_store {
						.list_store {
							&__item {
								flex: 0 0 100%;
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
	.system {
		&-content {
			&__form {
				.top {
					padding: 15px;
					&-content {
						&__left {
							.area {
								width: calc((100% - 20px)/3);
								font-size: 14px;
								padding: 7px;
								margin-right: 10px;
							}
						}
						&__right {
							input {
								max-width: 200px;
							}
							button {
								padding: 5px 10px;
								width: calc(100% - 211px);
							}
						}
					}
				}
				.list {
					&-item {
						flex: 0 0 100%;
						margin-right: 0;
						&:nth-child(2) {
							border-radius: 8px;
							margin-top: 35px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 415px) {
	.system {
		&-content {
			&__form {
				.top {
					&-content {
						&__left {
							a {
								font-size: 12px;
								padding: 7px;
								margin-right: 5px;
								width: calc((100% - 10px)/3);
							}
						}
						&__right {
							input, button {
								font-size: 14px;
							}
							input {
								max-width: 160px;
							}
							button {
								width: calc(100% - 171px);
							}
						}
					}
				}
			}
		}
	}
	.shop {
		&_bottom {
			&__content {
				.contents {
					h1 {
						font-size: 24px !important;
						line-height: 30px !important;
					}
					ul {
						li {
							span {
								font-size: 16px !important;
							}
						}
					}
				}
				.right {
					h2 {
						font-size: 24px !important;
						line-height: 30px !important;
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.system {
		&-content {
			&__form {
				.top {
					&-content {
						&__left {
							a {
								font-size: 16px;
								margin-right: 0;
								width: 100%;
								margin-bottom: 10px;
							}
						}
						&__right {
							input, button {
								font-size: 16px;
								width: 100%;
							}
							input {
								max-width: 100%;
								margin-right: 0 !important;
								margin-bottom: 10px;
							}
							button {
								max-width: 170px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 250px) {
	.sidebar {
		&-content {
			&__title {
				padding: 10px;
				span {
					font-size: 14px !important;
				}
			}
			&__list {
				padding: 6px 10px 20px;
				.menu-item {
					a {
						font-size: 14px !important;
					}
				}
			}
		}
	}
	.page {
		&-content {
			&__right {
				h1 {
					font-size: 20px !important;
				}
				.css-content {
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}
